/**
 * Backgrounds
 *
 */

// BG IMAGE
.bg-image {
    height: 100%;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.full-wrap {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
