/**
 * Hero
 *
 */

.hero {
    position: relative;
    background-color: $brand-gray3;
}
.hero__m-logo {
    img {
        max-width: 50%;
    }
}
.hero-title {
    position: relative;
    color: $brand-white;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);

    @include media-breakpoint-down(md) {
        font-size: 2.6875rem; /* 43/16 */
    }
}

// hero full
.hero_full {
    height: 100vh;

    @include media-breakpoint-down(md) {
        padding-top: 93px;
        margin-top: -93px;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 123px;
        margin-top: -123px;
    }

    // smart slider
    .n2-ss-align,
    .n2-padding,
    .n2-ss-slider,
    .n2-ss-slider-1,
    .n2-ss-slider-2,
    .n2-ss-slider-3,
    .n2-ss-slide,
    .n2-ss-layers-container  {
        height: 100% !important;
    }
}

// hero banner
.hero-banner {
    // @include media-breakpoint-down(md) {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    // }
    @include media-breakpoint-up(lg) {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

// hero fix height
.hero_fix-height {
    height: 40.625rem; /* 650/16 */

    .tax-product-category & {
        height: 28.125rem; /* 450/16 */

        @include media-breakpoint-down(md) {
            height: 0;
            padding-top: 40%;
        }
    }

    .single-product & {
        @include media-breakpoint-down(md) {
            height: 19.375rem; /* 310/16 */
            padding-top: 0;
        }
        @include media-breakpoint-up(lg) {
            height: 28.125rem; /* 450/16 */
        }
    }

    @include media-breakpoint-down(md) {
        height: 0;
        padding-top: 45%;
    }
}

// hero slider
.hero-slider {
    position: relative;
    height: 100%;
    width: 100%;
}
